<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <meta name="description" content="<%= description %>" />
  <meta name="keywords" content="<%= keywords %>" />
  <meta property="og:title" content="<%= ogTitle %>" />
  <meta property="og:description" content="<%= ogDescription %>" />
  <meta property="og:url" content="<%= ogUrl %>" />
  <meta property="og:image" content="<%= ogImage %>" />
  <meta name="twitter:card" content="<%= twitterCard %>" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="canonical" href="https://rahnoxa.rahnoxa-tech.workers.dev/" />
  <meta name="google-site-verification" content="_kHa6_TNxjK3VlvrEQ0H973NWPoELBeSXA3I3MnIEq0" />
</head>


<body>
  <div id="root"></div>
  <noscript>
    Rahnoxa requires JavaScript to run. Please enable JavaScript in your browser.
  </noscript>
  <script type="module" src="/src/main.tsx"></script>
</body>

</html>